.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.SearchContainer {
  width: 70vw;
  margin: 0 auto;
}

.RecipeItemContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.RecipeItemContainer:hover{
  background-color:darkgray;
}

.RecipePic {
  height: 30px;
  width: 30px;
}

.RecipeTiltle {
  font-size: .75em;
}
